<div class="products-row-2">
    {% for item in site.products %} {% if page.url != item.url or include.exclude_current == false | default: true %}   
        <a href="{{ item.url }}" class="products-row-2__item {{ item.uniclass }}">
            <div  class="products-row-2__text">
                <h2 class="h2-mini products-row-2__title">{{ item.title }}  </h2>
                <button class="accent-btn">Подробнее</button>
                <button class="link-btn">Подробнее →</button>
            </div>
            <div class="products-row-2__img">
                {% if item.tumbnail %}<img src="{{ item.tumbnail }}" alt="tumbnail">{% endif %} 
            </div>
            <div class="products-row-2__back"></div>
        </a>
    {% endif %} {% endfor %}
</div>