---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>{% if page.site_title %}{{page.site_title}}{% else %}{{ site.data.infocompany.site_title | default : 'Кондитерская фабрика «АНТ»' }}{% endif %}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
    
    {% include preloader.html %}
    {% include main-header.html %}
    {{ content }}
    {% include main-footer.html %}
    <script src="{% link /assets/js/swiper.js %}"></script>
    <script src="{% link /assets/js/script.js %}"></script>
</body>
</html>